{% extends "base.html" %}
{% load static %}
{% block title %}
Art Space
{% endblock %}

{% block content %}
<div class="container py-5">

<!-- HERO -->
<div class="row align-items-center mb-5">

<div class="col-md-6">
<h1 class="display-4">Art Space</h1>

<p class="text-success">
художественные курсы Санкт-Петербурга:<br>
обучение искусству для всех!
</p>

<button class="btn btn-success">
Выбрать курс
</button>
</div>

<div class="col-md-6">
<img src="{% static 'images/1.png' %}" class="img-top w-100" alt="">
</div>

</div>


<!-- SLIDER -->
<div class="row mb-5">
<div class="col-12">



      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
         <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="...">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>
  </div>


  <div class="row align-items-center">

<div class="col-md-6">

<p>
Мы предлагаем обучение для всех возрастов и уровней подготовки,
от начинающих до профессионалов.
</p>

<img src="{% static 'images/1.png' %}" class="img-small w-50" alt="">

</div>

<div class="col-md-6 text-center">

<img src="{% static 'images/1.png' %}" class="img-small w-50 mb-3" alt="">

<p>
Наши опытные преподаватели помогут вам освоить новые навыки,
научат работать с различными материалами и инструментами.
</p>

</div>

</div>


</div>

{% endblock %}